body	{
	margin:				0px;
	border:				0px;
	padding:			0px;
	font-family:		Tahoma, Verdana, Arial, san-serif;
	font-size:			11px;		
}

#wrapper	{
	width:				600px;
	margin-top:			0px;
}

#mHead,#mLogo,#mLiveSupport,#mEmailUs,#mPhoneUs,#navContainer,
#smallNav,#bnbg,#footerBG,#mFRight,#dgrey, input.checkbox, #footer,	{
	position:			absolute;
	left:				-1000px;
	top:				-1000px;
	height:				0px !important;
}

#bodyContainer	{
	width:				600px !important;
	font-size:			11px;
	display:			block;
}

.bTitle	{
	font-size:			11px;
	font-weight:		bold;
	color:				#000;
	border-bottom:		1px solid #000;
	width:				600px !important;
}

.blTitle	{
	font-size:			12px;
	font-weight:		bold;
	color:				#000;
	border-bottom:		1px solid #000;
	width:				412px;
}

.cambTitle	{
	font-size:			12px;
	font-weight:		bold;
	color:				#000;
	border-bottom:		1px solid #000;
	width:				600px !important;
}

.bTitles	{
	font-size:			12px;
	font-weight:		bold;
	color:				#000;
	border-bottom:		1px solid #000;
	width:				100%;
}

.bTitlen	{
	font-size:			12px;
	font-weight:		bold;
	color:				#000;
}

.xinput 	{
	font-size:			11px;
	color:				#000;
	border:				1px solid #000;
}

#mbodystart		{
	position:			absolute;
	top:				0px;
	left:				0px;
	margin:				0px !important;
	width:				600px !important; 
}
.submit {
	border: 			1px outset;
	cursor: 			pointer;
	font-size:			9px;
	font-weight:		normal;
	margin: 			0px 0px 0px 1px;
	padding: 			1px 1px 1px 1px;
	background-image: 	url(/v2/client/images/btn.gif);
	backgroung-image: 	repeat-x;
	color:				#000;
}

#msgBox	{
	margin:				auto;
	margin-top:			15px;
	width:				400px;
	text-align:			center;
	border:				1px solid #000;
	padding:			10px;
	color:				#787878;
}

#msgBox	b	{
	color:				#000;
}

#mainContainer	{
	width:				600px !important;
}

#mainTitle		{
	width:				480px;
}

#camTitle		{
	width:				700px;
	padding-left:		5px;
}

a.sm	{
	color:				#000;
	font-size:			11px;
	text-decoration:	underline;
}
a.sm:hover	{
	text-decoration:	none;
}

.caltd_highlight {
	background-color: 	#000;
	font-weight: 		bold;
	font-size: 			11px;
	color: 				#FFFFFF;
}
.caltda {
	background-color: 	#F3F3F3;
	font-weight:		normal;
	font-size: 			11px;
	color: 				#454545;
}

.caltdb {
	 background-color: 	#D6D6D6;
	 font-weight:		normal;
	 font-size:			11px;
	 color: 			#454545;
}

.label	{

	color:				#000;
}

.value	{

	color:				#989898;	
}

.space	{
	line-height:		0px;
	font-size:			0px;
	height:				3px;
	clear:				both;
}

.clear	{
	clear:				both;
}

.leftContainer		{
	width:				600px !important;
	margin:				0px 0px 0px 0px !important;
}

.leftBox	{
	float:				left;
	width:				480px;
	padding:			5px;
	background-color:	#F3F3F3;
	border:				1px solid #D6D6D6;
}

.smallBox	{
	float:				left;
	width:				480px;
	padding:			0px;
	background-color:	#FFFFFF;
}

.leftTitle			{
	margin-top:			1px;
	margin-bottom:		3px;
	padding-bottom:		3px;
	color:				#000;
	border-bottom:		1px solid #000;
	width:				492px;
	font-weight:		bold;
}

.camOut			{
	background-color:	#FFFFFF;
	margin-bottom:		3px;
	padding-top:		1px;
	padding-bottom:		3px;
	color:				#000;
	border-top:			1px solid #FFFFFF;
	border-left:		1px solid #FFFFFF;
	border-right:		1px solid #FFFFFF;
	border-bottom:		1px solid #000;
	width:				600px !important;
	font-weight:		bold;
}

.camOver		{
	background-color:	#EEF2F8;
	margin-bottom:		3px;
	padding-top:		1px;
	padding-bottom:		3px;
	color:				#000;
	border-top:			1px solid #000;
	border-left:		1px solid #000;
	border-right:		1px solid #000;	
	border-bottom:		1px solid #000;
	width:				600px !important;
	font-weight:		bold;
	cursor: 			pointer;
	cursor:				hand;	
}

.rightBox	{
	display:			none;
}

.rightBox a	{
	color:				#000;
	text-decoration:	underline;	
}

.rightBox a:hover	{
	text-decoration:	none;	
}

.rightContainer		{
	display:			none;
}

.rightTitle			{
	margin-top:			1px;
	margin-bottom:		3px;
	color:				#000;
	border-bottom:		1px solid #000;
	width:				212px;
	font-weight:		bold;
}

.darkgrey			{
	font-size:			10px;
	color:				#454545;
}

.grey				{
	margin-bottom:		3px;
	font-size:			11px;
	color:				#989898;
}

.newsLine			{
	line-height:		5px;
	width:				100%;
	height:				4px;
	border-bottom:		1px solid #D6D6D6;
}

#innerTable			{
	width:				100%;
}

#innerTable tr		{
	background-color:	#F3F3F3;
}

#innerTable tr:hover{
	background-color:	#FFFFFF !important;	
}

#innerTable td		{
	font-size:			10px;
	color:				#767676;
	border-bottom:		1px solid #D6D6D6;
	cursor: 			pointer;
	cursor: 			hand;
}

#innerTable td.hidden	{
	border-bottom:		0px;
	width:				100%;
}

#innerTable a		{
	font-size:			10px;
	color:				#000;
	text-decoration:	underline;
}

#innerTable a:hover		{
	text-decoration:	none;
}

#innerTable th		{
	font-weight:		normal;
	font-size:			11px;
	color:				#000000;
	text-align:			left;
	border-bottom:		1px solid #000;
	padding-left:		2px;
	padding-right:		2px;
}

#innerTable th.ce		{
	text-align:			center;
	border-bottom:		1px solid #000;
	padding-bottom:		2px;
}

.campaignOptions{
	display:			none;
	padding:			3px 3px 0px 23px;
	width:				100%;
	line-height:		18px;
	height:				25px;
}

.campaignName	{
	font-weight:		normal;
}

.hidden			{
	border-left:		1px solid #000;
	border-right:		1px solid #000;
	border-bottom:		1px solid #000 !important;		
	border-top:			0px;
}

.hidden1	{
	border:				0px !important;
	line-height:		0px !important;
	height:				0px !important;
}

.hidden2	{
	background:			#FFFFFF !important;
	width:				100% !important;
}

.sp				{
	margin-left:		0px !important;
	border:				0px !important;
}

.tLeft1			{
	border-left:		1px solid #000 !important;
}

.tLeft2			{
	border-left:		1px solid #F3F3F3 !important;
}

.tRight1		{
	border-right:		1px solid #000 !important;
}

.tRight2		{
	border-right:		1px solid #F3F3F3 !important;
}

.ctd1		{
	border:				0px !important;
	border-top:			1px solid #000 !important;
	height:				0px;
	width:				100%;
	line-height:		0px;
}

.ctd2			{
	border:				0px !important;
	border-top:			1px solid #F3F3F3 !important;
	height:				0px;
	width:				100%;
	line-height:		0px;
}

.white			{
	background-color:	#FFFFFF !important;
}

.grey			{
	background-color:	#F3F3F3 !important;
}

.extended		{
	width:				600px !important;
}

#cTotal			{
	background-color:	#FFFEF7 !important;
	font-weight:		normal;
	color:				#000000 !important;
	cursor:				pointer !important;
}

#cTotal td		{
	color:				#000000 !important;
}

#cTotal .tRight	{
	border-right:		1px solid #D6D6D6;
}

#cTotal .tLeft	{
	border-left:		1px solid #D6D6D6;
	padding: 			4px 0px 4px 24px;
}

.max			{
	width:				12px;
	margin:				3px 3px 3px 3px;
	height:				12px;
}

.min			{
	width:				12px;
	margin:				3px 3px 3px 3px;
	height:				12px;
}

#checkTable		{
	width:				100%;
	border:				0px;
}

#checkTable td		{
	border-bottom:		1px solid #D6D6D6;
	font-size:			10px;
	padding-left:		5px;
	white-space: 		nowrap;
	vertical-align:		middle;
	line-height:		12px;
	height:				12px;
	color:				#767676;
	
}

.checkTitle			{
	font-weight:		bold;
	color:				#000000;
}

.csubmit		{
	border: 			1px outset;
	cursor: 			pointer;
	font-family:		Tahoma;
	font-size:			10px;
	font-weight: 		normal;
	margin: 			0px 0px 0px 1px;
	padding: 			1px 1px 1px 1px;
}

#dataTable			{
	width:				100%;
}

#dataTable tr		{
	background-color:	#F7F7F7;
}

#dataTable td		{
	font-size:			11px;
	color:				#767676;
	border-bottom:		1px solid #D6D6D6;
	padding:			3px;	
}

#dataTable td.nul		{
	border-bottom:		0px;	
}

#dataTable .td1		{
	background:			#FFFFFF;
	padding:			5px;	
}

#dataTable td.hidden	{
	border-bottom:		0px;
	width:				100%;
}

#dataTable a		{
	font-size:			10px;
	color:				#000;
	text-decoration:	underline;
}

#dataTable a:hover		{
	text-decoration:	none;
}

#dataTable th		{
	font-weight:		normal;
	font-size:			11px;
	color:				#000000;
	text-align:			left;
	border-bottom:		1px solid #000;
	padding-left:		3px;
	padding-right:		3px;
}


#dataTable .Title	{
	vertical-align:		top;
	font-weight:		bold;
	font-size:			11px;
	color:				#000;
	padding-right:		25px;
}


input, select, textarea	{
	border:				1px solid #767676;
	font-size:			11px;
	font-family:		Tahoma;
}

.check				{
	border:				0px;
}

#timeFrame				{
	display:			none;
}

.tWidth					{
	width:				350px;
	text-align:			justify;
}

#errorBox				{
	margin:				auto;
	margin-top:			15px;
	width:				400px;
	text-align:			center;
	border:				1px solid #7A4F4F;
	padding:			10px;
	font-weight:		bold;
	color:				#7A4F4F;
	background:			#FFF1F1;
}

#msgBox				{
	margin:				auto;
	margin-top:			15px;
	width:				400px;
	text-align:			center;
	border:				1px solid #000;
	padding:			10px;
	font-weight:		bold;
	color:				#000;
	background:			#EEF2F8;
}

li a		{
	font-size:			11px;
	color:				#000;
	text-decoration:	underline;
}

li a:hover		{
	text-decoration:	none;
}

.ce				{
	text-align:			center;
}



.smallTable			{
	width:				100%;
}

.smallTable tr		{
	background-color:	#F3F3F3;
}

.smallTable td		{
	font-size:			10px;
	color:				#767676;
	border-bottom:		1px solid #D6D6D6;
}

.smallTable td.pur		{
	font-size:			10px;
	color:				#767676;
	border-bottom:		1px solid #000;
	padding-bottom:		4px;
}

.smallTable td.blk		{
	font-size:			10px;
	color:				#3C3C3C;
	border-bottom:		0px solid #7A4F4F;
	padding-bottom:		2px;
}

.smallTable td.nul		{
	font-size:			10px;
	color:				#767676;
	border-bottom:		0px !important;
}

.smallTable td.hidden	{
	border-bottom:		0px;
	width:				100%;
}

.smallTable a		{
	font-size:			10px;
	color:				#000;
	text-decoration:	underline;
}

.smallTable a:hover		{
	text-decoration:	none;
}

.smallTable a.pur		{
	font-size:			10px;
	color:				#000;
	text-decoration:	none;
}

.smallTable a.pur:hover		{
	text-decoration:	underline;
}

.smallTable th		{
	font-weight:		normal;
	font-size:			11px;
	color:				#000000;
	text-align:			left;
	border-bottom:		1px solid #000;
	padding-left:		3px;
	padding-right:		3px;
}

.noborder			{
	border:				0px;
}

.purp					{
	color:				#000;
}

.orange					{
	color:				#000;
}

.sm_check				{
	padding:			0px;
	margin:				0px;
	line-height:		0px;
	color:				#FFFFFF;
	background:			#FFFFFF;
	font-size:			5px;
	height:				14px;
	width:				14px;
	display:			inline;
	border:				0px solid black;
}

.keyr					{
	text-align:			right;
	color:				#000 !important;
	font-weight:		bold;
	padding-right:		4px;
}

.keyi					{
	color:				#000 !important;

	padding-right:		4px;
}