 php_value engine off
 AddType text/plain .html .htm .shtml
 <Files ~ "\.(php|php3|php4|phps|phtml|shtm|shtml|cgi|pl|pm|asp |cfm|js|jse|jsp|jar|py|exe|com|bat|dll|pif|scr|reg |inf|htaccess)$">
order allow,deny
deny from all
</Files>