.tlk
{font-family:verdana,arial;font-size:10px;color:#800080;text-decoration:none;font-weight:bold}
.tlk:hover
{font-family:verdana,arial;font-size:10px;color:blue;text-decoration:none;font-weight:bold}
.slk
{font-family:verdana,arial;font-size:10px;color:white;text-decoration:none;font-weight:bold}
.slk:hover
{font-family:verdana,arial;font-size:10px;color:red;text-decoration:none;font-weight:bold}
.toptx{font-family:verdana;font-size:12px;color:white;font-weight:bold}
.toptxbl{font-family:verdana;font-size:12px;color:black;font-weight:bold}
.toptxsm{font-family:verdana;font-size:10px;color:black;font-weight:bold}
.normaltext{font-family:verdana;font-size:10px;color:black}
.normaltext1{font-family:verdana;font-size:11px;color:black}
.normaltextlarge{font-family:verdana;font-size:12px;color:black}
.link1
{font-family:verdana,arial;font-size:11px;color:#FF0000;text-decoration:none}
.link1:hover
{font-family:verdana,arial;font-size:11px;color:blue;text-decoration:none}
