.bdbtm{border-bottom:1px solid #D6DCB1;border-right:1px solid #D6DCB1}
.blackbd{border-bottom:1px solid #000000}
.blackrgt{border-right:1px solid #335607;border-left:1px solid #f1f1f1}
.rgtselected{border-right:1px solid #335607;border-left:1px solid #f1f1f1; background-color:#CCCCCC}
.linkwhite{border-left:1px solid white}
.linkblack{border-right:1px solid #335607}
.maintx{font-family:verdana;font-size:10px;color:black;text-decoration:none}
.maintx:hover{font-family:verdana;font-size:10px;color:yellow;text-decoration:none}
.maintxnew{font-family:verdana;font-size:10px;color:white;text-decoration:none}
.maintxnew2{font-family:verdana;font-size:10px;color:white;text-decoration:none}
.maintxnew:hover{font-family:verdana;font-size:10px;color:yellow;text-decoration:none}
.btmlink{font-family:verdana;font-size:11px;color:white;text-decoration:none}
.btmlink:hover{font-family:verdana;font-size:11px;color:yellow;text-decoration:none}
.lgnbd{border:1px solid #676767}
.whitehd{font-family:verdana;font-size:11px;color:white;text-decoration:none;font-weight:bold}
.subhd{font-family:verdana;font-size:10px;color:white;text-decoration:none;font-weight:bold}
.ltbtbd{border-bottom: 1px #CCCCCC; border-left:1px #CCCCCC}
.ltbtbd1{border-bottom: 1px #CCCCCC}
.forgotlink
{
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.blkbd1{border-right:1px solid black;border-left:1px solid black}
.whitebtbd{border-bottom:1px solid white}
.tx1{font-family:verdana;font-size:16px;color:#33540C;font-weight:bold}
.tx2{font-family:verdana;font-size:12px;color:black;font-weight:bold}
.blackbtbd{border-bottom:3px solid black}
.tx3{font-family:verdana;font-size:10px;color:black;font-weight:bold}

.sidemenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-size: 11px;
	text-transform: capitalize;
}

.sidemenu a {
	color: #000000;
	text-decoration: none;
	display: block;
	position : relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 7px;
	padding-right: 5px;
	padding-bottom: 7px;
	padding-left: 10px;
	border-top: 1px solid #FFFFFF;
	border-right: 0px solid #DDDDDD;
	border-bottom: 1px solid #CCCCCC;
	border-left: 0px solid #DDDDDD;
	font-weight: normal;
	background-color: #D4D9F2;
}

.sidemenu a:hover {
	color: red;
	background-color: #FEE6C3;
	text-decoration: none;
	font-size: 11px;
}
.disbd{border:1px solid #448A99}
.disctxhd{font-family:verdana;font-size:14px;font-weight:bold;color:#E66607}
.bentx{font-family:verdana;font-size:11px;color:#2052A4}
.ratebd{border:1px solid #EBEFF6}
.mertd{border:1px solid  #4874B5}
.start1{border-left:1px solid #867D9E;border-top:1px solid #867D9E;border-bottom:1px solid #BFBBCA}
.start2{border-right:1px solid #867D9E;border-top:1px solid #867D9E;border-bottom:1px solid #BFBBCA}
.intx{font-family:verdana;font-size:11px;color:#106BB9;font-weight:bold}
.intx1{font-family:verdana;font-size:11px;color:#FA6604;text-decoration:none;font-weight:bold}
.intx1:hover{font-family:verdana;font-size:11px;color:#106BB9;font-weight:bold}
.toptxt{font-family:verdana;font-size:11px;color:#2052A4;font-weight:bold}
.fullborder{border-right:1px solid #2C609A;border-left:1px solid #2C609A}
.usertx{font-family:verdana;font-weight:bold;font-size:11px;color:#1162BD}
