
 <!-- CONTENT -->
 </td></tr>
 </table>
 </td></tr>
 </table>
 <br>
 <table class=frame width=760 border=0 cellspacing=1 cellpadding=2>
 </table>
				  <!--Footer Start -->
	</td>
              </tr>

            </tbody></table></td>
        </tr>
        <tr> 
          <td class="bodytext" bgcolor="#000000" height="25"><a target='_blank' href='https://www.scanalert.com/RatingVerify?ref=www.etelegate.com'><img width='115' height='32' border='0' src='//images.scanalert.com/meter/www.etelegate.com/22.gif' alt='HACKER SAFE certified sites prevent over 99.9% of hacker crime.' oncontextmenu='alert("Copying Prohibited by Law - HACKER SAFE is a Trademark of ScanAlert"); return false;'></a></td>
          <td class="bodytext" bgcolor="#000000"><font color="#ffffff">Copyright 
            2003-2006 etelegate.com </font></td>
          <td class="bodytext" bgcolor="#000000">
<div align="center"><font color="#ffffff"><a href="/content.php?show=main_resources" class="a4">Resources</a> 
              | <a href="#" class="a4"> Privacy</a> | <a href="#" class="a4">Terms 
              &amp; Conditions </a></font></div></td>

        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody></table>
</body></html>
				  <!--Footer End -->