 	

e-Wallet is a virtual savings account where charges are made for online purchases. Small amounts from USD0.01 to USD10 can now be paid conveniently.

<br /><br />
Etelegate is server based e-wallet service fully equipped with highly secured online payment solution and provide issuers with an innovative and powerful payment tool.

<br /><br />
Each time you make a purchase, your e-wallet is debited in real time. So long as you have sufficient credit, you can make a purchase.

<br /><br />
In short, make your purchases with just one click away.