
.spy-main input
{
	font-size:10px;
}

.spy-main
{
	color: #0d2444;
	font-size:12px;
}
.spy-main input
{
	color: #0d2444;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
}

.spy-main a
{

}

.spy-header a
{
	background: url(img/button_1.png) #fff bottom left repeat-x;
	height:30px;
	border: 0.1em solid #dcdce9;
	text-decoration: none;
	text-align: center;
	padding:6px;
}

.spy-main a:hover
{
	text-decoration:underline;
}

/* Hide from IE5-Mac \*/
.spy-main a
{
	float:none;
}
/* End hide */
