
<p>This support system is here to help you manage your customer service better, and post questions of your own.</p>
<p>How to Create a Support Ticket:</p>
<ol>
  <li>Make sure you're in the <strong>'Client Services'</strong> section, not the 'Customer Service' section.   </li>
  <li>Select the <strong>'Create Issue'</strong> option towards the top of the screen. </li>
  <li>Select your <strong>Category</strong> (Tech Support, Sales Question...).</li>
  <li>Enter a <strong>Summary</strong>.</li>
  <li>Enter the <strong>Initial Description</strong> of your ticket.</li>
  <li>Optionally <strong>Upload</strong> any files that may be  required by the support staff.</li>
  <li>Select the <strong>'Submit'</strong> Button.</li>
</ol>
<p>How do you know when you get a response to your Support Ticket?</p>
<ul>
  <li>Select <strong>'List Issues'</strong> to view your ticket status.  </li>
  <li>We also send out emails each time we respond to your ticket.</li>
</ul>
<p>How to manage your Customers:</p>
<ol>
  
  <li>Make sure you're in the <strong>'Customer Service'</strong> section, not the 'Client Services' section. </li>
  <li>Select the <strong>'List Issues' </strong> option towards the top of the screen. </li>
  <li>Any customer querys will appear here. Select one to view, edit, update, or respond to them.</li>
</ol>
<p>How do you know when a customer sends you a Support Ticket?</p>
<ul>
  <li>We send out email notifications each time a customer of yours sends us a query.</li>
</ul>
<p><br />
  <br />
</p>
