fieldset.fieldset-shipping-product {
    display: inline-block;
}

fieldset.fieldset-shipping-product[disabled] {
    display: none;
}

fieldset.fieldset-shipping-product label {
    display: inline-block;
    /*width:100%;*/
}
