.appColor
{
	background: #0D8655;
}

.body
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #4e4f4f;
    FONT-FAMILY: Tahoma, verdana, helvetica, sans-serif;
    TEXT-DECORATION: none
}
.bodybold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #333333;
    FONT-FAMILY: Tahoma,helvetica,sans-serif
}

.Intro DIV
{
	margin: 10px 0px 12px 0px;
}

.installError
{
	FONT-FAMILY: Tahoma, Helvetica, sans-serif;
	COLOR: red;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold
}
.headbold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    VERTICAL-ALIGN: middle;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, arial,helvetica,sans-serif;
    HEIGHT: 14pt;
    TEXT-DECORATION: none
}
.infobold
{
    PADDING-LEFT: 3pt;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    VERTICAL-ALIGN: middle;
    COLOR: #000000;
    FONT-FAMILY: Verdana, arial,helvetica,sans-serif;
    HEIGHT: 14pt;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.CharText
{
    FONT-SIZE: 15px;
    WIDTH: 25px;
    COLOR: #333333;
    FONT-FAMILY: Tahoma, verdana, helvetica, sans-serif
}

.field150
{
	font-size: 11px;
	width: 150px;
	color: #333333;
	font-family: tahoma;
	margin-top: 3px;
	margin-right: 5px;
}

.field250
{
	font-size: 11px;
	width: 250px;
	color: #333333;
	font-family: tahoma;
	margin-top: 3px;
	margin-right: 5px;
}

A.navlink
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.navlink:active
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.navlink:visited
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.navlink:hover
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.bodylink
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #333333;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.bodylink:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #333333;
    FONT-FAMILY: Tahoma,helvetica,sans-serif;
    TEXT-DECORATION: underline
}
A.bodylink:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #333333;
    FONT-FAMILY: Tahoma,helvetica,sans-serif;
    TEXT-DECORATION: underline
}
A.bodylink:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #111111;
    FONT-FAMILY: Tahoma,helvetica,sans-serif;
    TEXT-DECORATION: underline
}
.navheading
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma, helvetica, sans-serif;
    TEXT-DECORATION: none
}
.heading1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13.5pt;
    COLOR: #000000;
    FONT-FAMILY: Tahoma, arial, helvetica, sans-serif;
    TEXT-DECORATION: none
}
.Heading2
{
	font-weight: bold;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma;
    HEIGHT: 16pt;
    /*BACKGROUND-COLOR: #013855;*/
    background-color: #ADAAAD;
    padding: 4px 4px 4px 4px;
}

.Heading3 TD
{
    BACKGROUND-COLOR: #ADAAAD;
	FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    VERTICAL-ALIGN: middle;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma;
    HEIGHT: 20px;
    TEXT-DECORATION: none;
	padding: 3px 3px 3px 5px;
}

.sectiontitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #003366;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, verdana, helvetica, sans-serif
}
.bevel1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #ADAAAD
}
.bevel2
{
    BORDER-RIGHT: #ffffff 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    BORDER-LEFT: #ffffff 1px solid;
    COLOR: #ffffff;
    BORDER-BOTTOM: #ffffff 1px solid;
    FONT-FAMILY: Tahoma, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.bevel3
{
    BORDER-RIGHT: #d4d0c8 1px solid;
    BORDER-TOP: #d4d0c8 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BORDER-LEFT: #d4d0c8 1px solid;
    COLOR: #ffffff;
    BORDER-BOTTOM: #d4d0c8 0px solid;
    FONT-FAMILY: Tahoma, Helvetica, sans-serif;
    BACKGROUND-COLOR: #d4d0c8
}
.bevel4
{
    PADDING-LEFT: 5pt;
    BACKGROUND-COLOR: #F7F7F7
}
.bevel5
{
    PADDING-LEFT: 3pt;
    VERTICAL-ALIGN: middle;
    BACKGROUND-COLOR: #ADAAAD
}
.error
{
    BORDER: #CD1143 2px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma, Helvetica, sans-serif;
    BACKGROUND-COLOR: #FCEEF3;
}
.b4
{
    BACKGROUND-COLOR: #dad9d9
}
.toolbutton
{
    BORDER-RIGHT: buttonface 1px solid;
    BORDER-TOP: buttonface 1px solid;
    BORDER-LEFT: buttonface 1px solid;
    BORDER-BOTTOM: buttonface 1px solid
}
.toolbutton_down
{
    BORDER-RIGHT: buttonhighlight 1px solid;
    BORDER-TOP: buttonshadow 1px solid;
    BORDER-LEFT: buttonshadow 1px solid;
    BORDER-BOTTOM: buttonhighlight 1px solid
}
A.button
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    BORDER-LEFT: #000000 1px solid;
    WIDTH: 20px;
    COLOR: #000000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Helvetica, sans-serif;
    HEIGHT: 15px;
    BACKGROUND-COLOR: #d4d0c8;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
A.button:hover
{
    BACKGROUND-COLOR: #e8e4dd
}
.buttonbg
{
    BORDER-RIGHT: #822100 1px solid;
    BORDER-TOP: #ff784a 1px solid;
    BORDER-LEFT: #ff784a 1px solid;
    BORDER-BOTTOM: #993300 1px solid;
    BACKGROUND-COLOR: #cc3300
}
.toggle
{
    BORDER-RIGHT: #cccccc 1px dotted;
    BORDER-TOP: #cccccc 1px dotted;
    BORDER-LEFT: #cccccc 1px dotted;
    BORDER-BOTTOM: #cccccc 1px dotted
}
.hide
{
    DISPLAY: none;
    VISIBILITY: hidden
}
.pasteArea
{
    OVERFLOW: auto;
    WIDTH: 1px;
    HEIGHT: 1px
}
.Text20
{
    FONT-SIZE: 20px;
    WIDTH: 10px;
    COLOR: #333333;
    FONT-FAMILY: Tahoma, verdana, helvetica, sans-serif
}
.paging
{
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Tahoma
}
.required
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: 'Arial Black'
}
.profile
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Tahoma
}
.bevel6
{
    BACKGROUND-COLOR: #F7F7F7;
}
.colheading
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.rowSelectUser
{
    BACKGROUND-COLOR: #DDDDDD
}
.rowSelect
{
    BACKGROUND-COLOR: #D4DCD4
}
.Text450
{
    FONT-SIZE: 11px;
    WIDTH: 450px;
    COLOR: #333333;
    FONT-FAMILY: Tahoma, Verdana, Helvetica, sans-serif
}
.Text500
{
    FONT-SIZE: 11px;
    WIDTH: 507px;
    COLOR: #333333;
    FONT-FAMILY: Tahoma, verdana, helvetica, sans-serif
}

.PageFooter
{
	font-family: Tahoma;
	font-size: 11px;
	/* background-color: #f4f4f4; */
	width: 100%;
	text-align: right;
	color: white;
}

.PageFooter A
{
	color: white;
	text-decoration: none;
}

.MidHeading
{
	font-weight: bold;
    FONT-SIZE: 11px;
    FONT-FAMILY: Tahoma;
	background-color: F7F7F7;
	width: 80%;
	padding: 1px 1px 1px 6px;
}

A {
	FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #333333;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: underline;
}

ul li
{
	line-height: 170%;
}

ul
{
	margin-top:5px;
}

.RightHeader
{
	font-weight: bold;
	font-size: 11px;
	color: #ffffff;
	font-family: tahoma;
	background-color: #adaaad;
	padding: 4px 4px 4px 10px;
}

.Text
{
	Color: #333333;
	Font-Family: Tahoma;
	Font-size: 11px;
}

.FooterLink:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #FFFFFF;
    FONT-FAMILY: Tahoma,helvetica,sans-serif;
    TEXT-DECORATION: underline
}

.Message
{
	BACKGROUND-COLOR: #F4F4F4;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #4e4f4f;
    FONT-FAMILY: Tahoma, verdana, helvetica, sans-serif;
    TEXT-DECORATION: none
}

.MessageWhite
{
	BACKGROUND-COLOR: #FFFFFF;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #4e4f4f;
    FONT-FAMILY: Tahoma, verdana, helvetica, sans-serif;
    TEXT-DECORATION: none
}

.IndexFrame
{
	width: 98%;
	height: 150;
	border: solid 1px #ADAAAD;
}

.ProgressOuter
{
	background-color: #EAEAEE;
}

.ProgressInner
{
	background-color: #0000C0;
	color: white;
}

.BadIndex
{
	color: red;
	font-weigt: bold;
}

.menu
{
	color: #000000;
	text-decoration: none;
}

.menu:hover
{
	text-decoration: underline;
}

.panel
{
	border-collapse: collapse;
    font-weight: normal;
    font-size: 11px;
    color: #4e4f4f;
    background-color: #F7F7F7;
    width: 100%;
	padding: 4px;
}

.panel a
{
	color: #333333;
}

.panel td
{
	font-size: 11px;
}

.FieldLabel
{
	padding: 6px 10px 0px 10px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #4e4f4f;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none;
    vertical-align: top;
    width: 160px;
	height: 25px;
}

.SmallFieldLabel
{
	padding: 6px 10px 0px 10px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #4e4f4f;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none;
    vertical-align: top;
    width: 60px;
}

.SmallFieldLabelLogin
{
	padding: 6px 10px 0px 10px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #4e4f4f;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none;
    vertical-align: top;
    width: 120px;
}

.gridrow TD
{
	padding: 3px 3px 3px 5px;
	background-color: #f7f7f7;
	height: 24px;
}

.gridrowover TD
{
	padding: 3px 3px 3px 5px;
	background-color: #dddddd;
	height: 24px;
}

.smallbutton
{
	font-size: 11px;
	width: 150px;
    font-family: Tahoma;
	color: black;
}

.formbutton
{
	font-size: 11px;
	width: 80px;
    font-family: Arial;
	color: black;
}

form
{
	margin:0px;
}

.helpText
{ 
	cursor: help;
	border-bottom: 1px dashed white;
}

.installBox
{
    BORDER: #FF0000 2px solid;
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma, Helvetica, sans-serif;
    BACKGROUND-COLOR: #FFF2F5;
}


/* Added in trackpoint 2005.0.4 */
A.Disabled
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #ACA899;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: underline;
}
